.title div {
  color: var(--gray900);
  font-size: var(--font-size-base);
  display: flex;
  align-items: center;
  justify-items: center;
}

.title img {
  width: 24px;
  height: 24px;
}
.link {
  font-weight: 600;
}

@media only screen and (max-width: 576px) {
  .active {
    display: none;
  }
}
