.login {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.login form {
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}

.header h1 {
  font-weight: bold;
  font-size: 36px;
  opacity: 0.9;
  margin-left: 6px;
}

.footer {
  font-size: 12px;
  opacity: 0.3;
  font-weight: 700;
  margin: 50px auto;
  text-align: center;
}
